body {
  background: $background;
  font-family: 'Muli', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Homenaje', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}
