.introduction {
  background: $light-blue;
  color: $white;
  background-image: linear-gradient(135deg, #3ABADB 55%, #3194AD 100%);

  .introduction-text {
    padding: 10px 0 0;
  }

  .example-image {
    margin: 10px 0;
  }

  .example-text {
    font-size: 12px;
    max-width: 240px;
    margin: 0 auto 20px;
  }
}

.results {
  background: $light-blue;
  color: $white;
}

@media (min-width: $screen-sm-min) {
  .introduction {
    .introduction-text {
      padding-bottom: 20px;
    }

    .example-image {
      margin-top: 30px;
    }
  }
}
