.dashboard {
  transition: height 400ms cubic-bezier(.91,.45,.71,1.39);
  overflow: hidden;
  height: 126px;

  &.slide-hide {
    height: 0;
  }

  h2 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .coins-remaining {
    margin: 20px 0 10px;
    text-align: center;
  }

  .remaining-budget-text {
    text-align: center;
  }

  .coin {
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background: $light-blue;
    display: inline-block;
    margin-left: 16px;

    &:after {
      content: '$1';
      line-height: 26px;
      width: 26px;
      text-align: center;
      display: block;
      font-size: 12px;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .dashboard {
    height: 116px;

    h2 {
      font-size: 26px;
    }

    .remaining-budget-text {
      text-align: right;
    }

    .coins-remaining {
      text-align: left;
    }
  }
}
