header {
  background: $blue;

  .logo {
    float: right;
    width: 120px;
    height: 36px;
    margin: 35px 0 0;
  }

  .title {
    margin: 0;
    float: left;
    color: $white;
    font-size: 40px;
    line-height: 102px;
  }
}

@media (min-width: $screen-sm-min) {
  header {
    .logo {
      width: 206px;
      height: 63px;
      margin: 20px 0;
    }

    .title {
      font-size: 54px;
    }
  }
}
